aside {
    box-sizing: inherit;
    font-family: "Golden Cockerel ITC Roman", Georgia, serif;
    line-height: 1.1;
    color: rgb(160, 36, 53);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
}

aside>a {
    color: orange
}